.VideoGame {
    height: 400px;
}

.Title {
    height: 64px;
}

.Description {
    height: 48px;
}

.Image {
    height: 150px;
    margin: 10px 0;
}

@media only screen and (max-width: 960px) {
    .VideoGame {
        margin: 0;
    }
}
